<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Memoir Logs</title>
</head>
<body>

  <!-- header -->
  <header class="  
  bg-gray-100 text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <span class="ml-3 text-xl">Memoir Logs</span>
      </a>
    </div>
  </header>
<!-- header ends -->

</section>
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-10 mx-auto">
    <div class="-my-8 divide-y-2 divide-gray-100">
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:flex-grow">
          <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"><%= article.title %></h2>
          <div class="text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <p class="leading-relaxed"><%= article.description %></p>
        </div>
      </div>
      <div class="p-2 w-full">
        <a href="/">
          <button  class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">All Articles</button>
        </a>
      </div>
        <div class="p-2 w-full">
          <a href="/articles/edit/<%= article.id %>">
        <button  class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Edit</button>
          </a>
      </div>
    </div>
  </div>
</section>
</body>
</html>


















  
